<h5>giới thiệu</h5>
<A>Giáo dục trực tuyến (hay còn gọi là e-learning) là phương thức học ảo thông qua một máy vi tính,điện thoại thông minh nối mạng đối với một máy chủ ở nơi khác có lưu giữ sẵn bài giảng điện tử và phần mềm cần thiết để có thể hỏi/yêu cầu/ra đề cho học sinh học trực tuyến từ xa. Giáo viên có thể truyền tải hình ảnh và âm thanh qua đường truyền băng thông rộng hoặc kết nối không dây (WiFi, WiMAX), mạng nội bộ (LAN). Mở rộng ra, các cá nhân hay các tổ chức đều có thể tự lập ra một trường học trực tuyến (e-school) mà nơi đó vẫn nhận đào tạo học viên, đóng học phí và có các bài kiểm tra như các trường học khác.Giáo dục trực tuyến cho phép đào tạo mọi lúc mọi nơi, truyền đạt kiến thức theo yêu cầu, thông tin đáp ứng nhanh chóng. Học viên có thể truy cập các khoá học bất kỳ nơi đâu như văn phòng làm việc, tại nhà, tại những điểm Internet công cộng, 24 giờ một ngày, 7 ngày trong tuần.

    Tiết kiệm chi phí: Giúp giảm khoảng 60% chi phí bao gồm chi phí đi lại và chi phí tổ chức địa điểm. Học viên chỉ tốn chi phí trong việc đăng ký khoá học và có thể đăng ký nhiều khoá học mà họ cần.
    
    Tiết kiệm thời gian: giúp giảm thời gian đào tạo từ 20-40% so với phương pháp giảng dạy truyền thống nhờ hạn chế sự phân tán và thời gian đi lại.
    
    Uyển chuyển và linh động: Học viên có thể chọn lựa những khoá học có sự chỉ dẫn của giảng viên trực tuyến hoặc khoá học tự tương tác (Interactive Self-pace Course), tự điều chỉnh tốc độ học theo khả năng và có thể nâng cao kiến thức thông qua những thư viện trực tuyến
    
    Tối ưu: Nội dung truyền tải nhất quán. Các tổ chức có thể đồng thời cung cấp nhiều ngành học, khóa học cũng như cấp độ học khác nhau giúp học viên dễ dàng lựa chọn
    
    Hệ thống hóa: E-learning dễ dàng tạo và cho phép học viên tham gia học, dễ dàng theo dõi tiến độ học tập, và kết quả học tập của học viên. Với khả năng tạo những bài đánh giá, người quản lý dễ dàng biết được nhân viên nào đã tham gia học, khi nào họ hoàn tất khoá học, làm thế nào họ thực hiện và mức độ phát triển của họ.</A><br>
<img src="assets/anhbtl/WEBU.jpg">
<img src="assets/anhbtl/DBBS.png">
<img src="assets/anhbtl/DBAV.png">
<img src="assets/anhbtl/INMA.jpg">